<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <div class="navbar-brand" style="color: white;">
            Guccifer Lite
        </div>
    </div>
    <div class='pull-right'>
      <div id='signin' class='navbar-brand pull-left' ng-click="doSignIn()" ng-if="!signedIn()">
        Sign In
      </div>
      <div id='register' class='navbar-brand pull-left' ng-click="doRegister()" ng-if="!signedIn()">
        Register
      </div>
      <div id='signout' class='navbar-brand pull-left' ng-click="doSignOut()" ng-if="signedIn()">
        Sign Out
      </div>
    </di>
</div>
