<div class="instrument-editor">
    <div>
        <h4>{{inst.name}}</h4>
    </div>
    <hr/>
    <div ng-repeat="fx in inst.fx" class="fx-toggle {{fx.connected ? 'active' : ''}}" ng-click="inst.toggleFx($index)">{{fx.name}}</div>
    <div class='well' ng-if="!inst.fx.length">No Effects Available</div>
    <hr/>
    <div ng-repeat="r in inst.rows" class="editor-area">
        <div class="row-header">{{ r.note }}</div>
        <div ng-repeat="s in r.steps track by $index" class="toggle-box {{s.active ? 'active' : ''}} {{$index}}" ng-click="s.toggle()">
        </div>
    </div>
    <hr/>
</div>
