<div class="panel panel-default">
    <div class="panel-heading">
        Change Song Name
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="enter new name here..." ng-model="newName" />
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" ng-click="closeThisDialog(newName)">Save</a>
        <a class="btn btn-default" ng-click="closeThisDialog(null)">Cancel</a>
    </div>
</div>
