body {
    padding-top: 70px;
    //background-color: black;
}

.footer {
    position: absolute;
    height: 60px;
    background-color: #222;
    width: 100%;
    bottom: 0;
    padding: 5px;
}

span.divider {
    height: 30px;
    width: 2px;
    position: relative;
    top: 10px;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.instrument-editor {
    padding-bottom: 10px;
}

.row-header {
    width: 50px;
    text-align: right;
    display: inline-block;
    position: relative;
    bottom: 3px;
}

.editor-area {
    line-height: 0;
    font-family: monospace;
}

.toggle-box {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px;
    background-color: #222;
    border-radius: 3px;
}

.toggle-box.active {
    background-color: whitesmoke;
    box-shadow: 2px 2px 12px springgreen inset;
}

.toggle-box.playing {
    border: 1px solid #444;
}


.dialog-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.ngdialog-content {
    z-index: 1;
    background: none!important;
    flex: 0 0 300px;
    align-self: center;
}

.fx-toggle {
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: gray;
    border: 1px solid #333;
    color: linen;
    text-decoration: line-through;
    border-radius: 5px;
}

.fx-toggle:active, .fx-toggle.active:active {
    background-color: black;
    border-color: white;
    color: white;
}

.fx-toggle.active {
    text-decoration: none;
    background-color: purple;
    border: 1px solid violet;
}

.click-to-edit {
    background-color: transparent;
    text-align: center!important;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 14pt;
    width: 200px;
}

.click-to-edit:focus {
    box-shadow: none;
}

.click-to-edit.edit:focus {
    border-bottom: 2px white;
}
